body{
  margin: 0;
}
ul{

  list-style-type: none;
  background-color: black;
  overflow: hidden;
  margin: 0;
  position: fixed;
  width: 100%;
  color:white;
}

  li{
float: left;
padding: 15px;
border-right: 1px solid black;
margin: 0;
  }
  li:last-child{
    border-right: none;
  }
  .active{
    background-color: mediumvioletred;
  }
  li:hover:not(.active){
    background-color:darkred;
  }
  .stext{
    padding: 50px 20px;
  }
.resim{

width: 10px;
height: auto;
}
.dp-content {
  display: none;
  position: absolute;
  background-color: cadetblue;
  z-index: 1;

}
.dropdown:hover .dp-content{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin-top: 20px;
  padding-left: : 0;
  margin-top:32px;
  margin-left: 0;



}
.abc{
  float: none;
  width: 30%;
  border:none;
}
.abc>li>a{
  text-decoration: none;
  color:white;
}
.newcontent> p{


  display: inline-block;
  margin-top: 125px;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  background-color: maroon;
  box-shadow: 0 10px 10px 0 black;

}
.subcontent{

  position: absolute;
  margin-left: 65%;
  z-index: 1;
  border: 1px solid grey;
  box-shadow: 0 8px 8px 0 darkgray;
  width:40%;
  display: none;
  background-color: dimgray;
  margin-top: -130px;


}
.newcontent:hover .subcontent{
  display: block;


}
