.galery{

  margin: 10px;
  border: 1px solid darkgrey;
  padding:5px;
  float: left;
  width: 260px;
  align-items: center;
}
.desc{
  font-size: 10px;
  font-family: sans-serif;
  padding: 5px;
  text-align: center;
}
.galery> img{

  align-items: center;
}
.galery:hover{

  box-shadow: 0 8px 8px 0 darkgrey;


  transform:scale(2.5);




}
div[id="specdes"]{

  background-color: darkred;
}
